.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

/* .checkoutProduct__info > button { */
    /* background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111; */
    
/* } */

.checkoutProduct__info > button{
    padding: 7px 9px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #111;
    background-color: #f0c14b;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px #999;
  }
  /* .button:hover {background-color: #846a29} */
  
  .checkoutProduct__info > button:active {
    background-color: #f0c14b;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}